:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  padding: 20px;
}

h2 {
  font-weight: 300;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
}

.form-control input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  color: white;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small,
.form-control .error {
  color: var(--error-color);
  position: absolute;
  bottom: -20px;
  left: 0;
  visibility: hidden;
}

.form-control.error small,
.form-control.error .error {
  visibility: visible;
}

button {
  cursor: pointer;
  background-color: crimson;
  border: 2px solid crimson;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 28px;
  width: 100%;
}

button:hover {
  background-color: darkred;
}
